[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/v4-periphery"]
	path = lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
[submodule "lib/fhenix-contracts"]
	path = lib/fhenix-contracts
	url = https://github.com/FhenixProtocol/fhenix-contracts
[submodule "lib/cofhe-mock-contracts"]
	path = lib/cofhe-mock-contracts
	url = https://github.com/fhenixprotocol/cofhe-mock-contracts
[submodule "lib/uniswap-hooks"]
	path = lib/uniswap-hooks
	url = https://github.com/openzeppelin/uniswap-hooks
